# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Others
node_modules
yarn-error.log
.*.json
.vscode
.env

# Version file: this file will be used only in Apps Script project
# after running "yarn push" command. See package.json
/src/Version.js
