name: CI

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened            # opened
      - reopened          # reopened
      - synchronize       # new commit(s) pushed
      - ready_for_review  # for draft support

jobs:
  eslint:
    name: eslint
    if: |
      (github.event_name == 'push') ||
      (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Eslint
        run: |
          yarn install
          yarn lint
  tests:
    name: tests
    if: |
      (github.event_name == 'push') ||
      (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        env:
          CLASPRC_ACCESS_TOKEN: ${{ secrets.CLASPRC_ACCESS_TOKEN }}
          CLASPRC_SCOPE: ${{ secrets.CLASPRC_SCOPE }}
          CLASPRC_ID_TOKEN: ${{ secrets.CLASPRC_ID_TOKEN }}
          CLASPRC_EXPIRY_DATE: ${{ secrets.CLASPRC_EXPIRY_DATE }}
          CLASPRC_REFRESH_TOKEN: ${{ secrets.CLASPRC_REFRESH_TOKEN }}
          CLASPRC_CLIENT_ID: ${{ secrets.CLASPRC_CLIENT_ID }}
          CLASPRC_CLIENT_SECRET: ${{ secrets.CLASPRC_CLIENT_SECRET }}
          CLASPRC_REDIRECT_URI: ${{ secrets.CLASPRC_REDIRECT_URI }}
          SCRIPT_ID: ${{ secrets.SCRIPT_ID }}
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          CLIENT_ACCESS_TOKEN: ${{ secrets.CLIENT_ACCESS_TOKEN }}
          CLIENT_REFRESH_TOKEN: ${{ secrets.CLIENT_REFRESH_TOKEN }}
          CLIENT_SCOPE: ${{ secrets.CLIENT_SCOPE }}
          CLIENT_EXPIRY_DATE: ${{ secrets.CLIENT_EXPIRY_DATE }}
          TEST_SHEET_URL: ${{secrets.TEST_SHEET_URL}}
        run: |
          yarn global add @google/clasp
          yarn install
          # export CLASPRC_ACCESS_TOKEN="$CLASPRC_ACCESS_TOKEN"
          # export CLASPRC_SCOPE="$CLASPRC_SCOPE"
          # export CLASPRC_ID_TOKEN="$CLASPRC_ID_TOKEN"
          # export CLASPRC_REFRESH_TOKEN="$CLASPRC_REFRESH_TOKEN"
          # export CLASPRC_EXPIRY_DATE="$CLASPRC_EXPIRY_DATE"
          # export CLASPRC_CLIENT_ID="$CLASPRC_CLIENT_ID"
          # export CLASPRC_CLIENT_SECRET="$CLASPRC_CLIENT_SECRET"
          # export CLASPRC_REDIRECT_URI="$CLASPRC_REDIRECT_URI"
          # export SCRIPT_ID="$SCRIPT_ID"
          # export CLIENT_ID="$CLIENT_ID"
          # export PROJECT_ID="$PROJECT_ID"
          # export CLIENT_SECRET="$CLIENT_SECRET"
          # export CLIENT_ACCESS_TOKEN="$CLIENT_ACCESS_TOKEN"
          # export CLIENT_REFRESH_TOKEN="$CLIENT_REFRESH_TOKEN"
          # export CLIENT_SCOPE="$CLIENT_SCOPE"
          # export CLIENT_EXPIRY_DATE="$CLIENT_EXPIRY_DATE"
          # export TEST_SHEET_URL="$TEST_SHEET_URL"
          node generateCredentials.js
          ls -l $HOME/.*.json
          ls .*.json
          cat .testSheet.json
          yarn test
